---
import { Image } from 'astro:assets'
import Header from './ui/Header.astro'
import aboutImage from '../assets/about_image.png'
import Section from './ui/Section.astro'

const textSection = {
  headerBig: 'Hello I am',
  headerBigSecondary: 'Anna Mill',
  description:
    'I am a software developer specializing in TypeScript and Node.js',
}

const imgAlt =
  'Illustration of a programmer in front of a computer screen, designed by pikisuperstar'
---

<Section id="about" ariaLabel="about-section">
  <Header
    headerBigger={textSection.headerBig}
    headerBiggerSecondary={textSection.headerBigSecondary}
    textSmaller={textSection.description}
  />
  <figure class="w-full p-4 md:w-2/3">
    <Image
      src={aboutImage}
      alt={imgAlt}
      class="h-auto' max-w-full"
      loading="eager"
    />
  </figure>
</Section>
